<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">InChurch</h1>
      <h2 class="subtitle">Test</h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <app-user-list></app-user-list>
      </div>
      <div class="column">
        <app-user-form></app-user-form>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Teste realizdo por <strong>Raphael Americano</strong> para a vaga na <a href="https://inchurch.com.br/" target="_blank">InChurch</a>. O código fonte está disponível no <a href="https://bitbucket.org/RaphaAmericano/inchurch-frontend-2018" target="_blank">repositório</a>.
    </p>
  </div>
</footer>
