
<h2 class="title">Users List</h2>
<div *ngFor="let user of current_page; let i = index;">
  <a (click)="selectUser(user.id);selectField(user)" >
    <div class="box" [ngClass]="{ 'has-background-info' : user.id == current_field.id }">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="{{ user.avatar }}" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <span class="title is-5">{{ user.first_name }}<strong> {{ user.last_name }}</strong></span><br>
            <span class="subtitle is-6">ID: {{ user.id }}</span>
          </div>
        </div>
      </article>
    </div>
  </a>
</div>

<nav class="pagination" role="navigation" aria-label="pagination">
  <ul class="pagination-list">
    <li *ngFor="let page of pages_total; let num = index; let firstpage = first" >
      <a class="pagination-link" [attr.aria-label]="'Page ' +( num + 1)" [attr.aria-current]="num + 1"  (click)="selectPage(num)" [ngClass]="{ 'has-background-info' : num == current_pagination }">{{ num + 1  }}</a>
    </li>
  </ul>
</nav>


