<h2 class="title">User Form</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="field">
    <label class="label" for="firstName">First Name</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="text" name="firstName" placeholder="" formControlName="firstName" [ngClass]="formFieldClass('firstName')">

      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
      <span *ngIf="userForm.get('firstName').valid" class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
      <span *ngIf="!userForm.get('firstName').valid && userForm.get('firstName').dirty" class="icon is-small is-right">
        <i class="fas fa-exclamation-triangle"></i>
      </span>
      <p *ngIf="userForm.get('firstName').valid" class="help is-success">This First Name is OK</p>
      <p *ngIf="!userForm.get('firstName').valid && userForm.get('firstName').touched" class="help is-danger">This First Name is invalid</p>
    </div>
  </div>

  <div class="field">
    <label class="label" for="lastName">Last Name</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="email" name="lastName" placeholder="" formControlName="lastName" [ngClass]="formFieldClass('lastName')">
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
      <span *ngIf="userForm.get('lastName').valid" class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
      <span *ngIf="!userForm.get('lastName').valid && userForm.get('lastName').dirty" class="icon is-small is-right">
        <i class="fas fa-exclamation-triangle"></i>
      </span>
      <p *ngIf="userForm.get('lastName').valid" class="help is-success">This Last Name is OK</p>
      <p *ngIf="!userForm.get('lastName').valid && userForm.get('lastName').touched" class="help is-danger">This Last Name is invalid</p>
    </div>
  </div>

  <div class="field">
      <label class="label" for="job">Job</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="text" name="job" placeholder="" formControlName="job" [ngClass]="formFieldClass('job')">
        <span class="icon is-small is-left">
          <i class="fas fa-briefcase"></i>
        </span>
        <span *ngIf="userForm.get('job').valid" class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
        <span *ngIf="!userForm.get('job').valid && userForm.get('job').dirty" class="icon is-small is-right">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
        <p *ngIf="userForm.get('job').valid" class="help is-success">This job is OK</p>
        <p *ngIf="!userForm.get('job').valid && userForm.get('job').touched" class="help is-danger">This job name is invalid</p>
      </div>
    </div>

    <input *ngIf="userForm.get('id')" class="input" type="hidden" name="id" placeholder="" formControlName="id">

  <div class="field">
    <button type="button" class="button is-primary is-rounded" [disabled]="!userForm.get('id')" (click)="userForm.reset();removeIdControl()">New</button>
    <button type="submit" class="button is-success is-rounded" [disabled]="userForm.get('id')">Create</button>
    <button type="submit" class="button is-link is-rounded" [disabled]="!userForm.get('id')" (click)="updateUser(userForm.value.id)">Update</button>
    <button type="buttom" class="button is-danger is-rounded" [disabled]="!userForm.get('id')" (click)="deleteUser(userForm.value.id)">Delete</button>
  </div>

  <div class="field">
      <div *ngIf="submitStatus == 'create'" class="notification is-success">
        User created with success!
      </div>
      <div *ngIf="submitStatus == 'update'" class="notification is-link">
        User updated with success!
      </div>
      <div *ngIf="submitStatus == 'delete'" class="notification is-danger">
        User deleted with success!
      </div>
  </div>
  </form>
